<a href="https://colab.research.google.com/github/sileeee/film-recommendation-system_Hayanjib/blob/master/film_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

rating_data = pd.read_csv('./datas/ratings.csv')
movie_data = pd.read_csv('./datas/movies.csv')

In [7]:
rating_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [8]:
movie_data.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [9]:
print(rating_data.shape)
print(movie_data.shape)

(100004, 4)
(9125, 3)

In [10]:
rating_data.drop('timestamp', axis=1, inplace=True)
rating_data.head(2)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0

In [11]:
user_movie_rating = pd.merge(rating_data, movie_data, on="movieId")
user_movie_rating.head(2)

   userId  movieId  rating                   title genres
0       1       31     2.5  Dangerous Minds (1995)  Drama
1       7       31     3.0  Dangerous Minds (1995)  Drama

데이터 전처리
 - pivot table 생성 및 null값으로 채우기
 - (column 정보 : userId / index 정보 : movie title)

In [12]:
movie_user_data = user_movie_rating.pivot_table('rating', index="title", columns="userId").fillna(0)
movie_user_data.head()

userId                                   1    2    3    4    ...  668  669  670  671
title                                                        ...
"Great Performances" Cats (1998)         0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
$9.99 (2008)                             0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Hellboy': The Seeds of Creation (2004)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Neath the Arizona Skies (1934)          0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Round Midnight (1986)                   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

[5 rows x 671 columns]

피벗테이블화

In [13]:
user_movie_data = user_movie_rating.pivot_table('rating', index="userId", columns="movieId").fillna(0)
user_movie_data.head()

movieId  1       2       3       4       ...  162376  162542  162672  163949
userId                                   ...
1           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           0.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 9066 columns]

코사인 유사도 분석

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
item_base_collabor = cosine_similarity(movie_user_data)
item_base_collabor

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.05821787, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.05821787, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [15]:
item_base_collabor = pd.DataFrame(data=item_base_collabor, index=movie_user_data.index, columns=movie_user_data.index)
item_base_collabor.head()

title                                    "Great Performances" Cats (1998)  ...  İtirazım Var (2014)
title                                                                      ...
"Great Performances" Cats (1998)                                 1.000000  ...                  0.0
$9.99 (2008)                                                     0.000000  ...                  0.0
'Hellboy': The Seeds of Creation (2004)                          0.000000  ...                  0.0
'Neath the Arizona Skies (1934)                                  0.164399  ...                  0.0
'Round Midnight (1986)                                           0.020391  ...                  0.0

[5 rows x 9064 columns]

추천 지수 출력

In [22]:
def get_item_based_colabor(title):
    return item_base_collabor[title].sort_values(ascending=False)[:6]

In [23]:
get_item_based_colabor('"Great Performances" Cats (1998)')

title
"Great Performances" Cats (1998)    1.000000
Agent Cody Banks (2003)             0.986394
Alice in Wonderland (1933)          0.986394
Air Bud: Golden Receiver (1998)     0.948441
Are We There Yet? (2005)            0.935775
Alvin and the Chipmunks (2007)      0.898923
Name: "Great Performances" Cats (1998), dtype: float64